* {
  font-family: "roboto", sans-serif;
  font-weight: 300;
}

html,
body {
  scroll-behavior: smooth;
  background-color: antiquewhite;
}

header {
  background-color: antiquewhite;
  position: sticky;
  top: 0;
  border-bottom: 0.2px solid #201f1f;
  padding: 15px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  margin: 30px 5% 5% 5%;
}

.apresentacao {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.link-menu {
  padding: 0px 10px 0px 0px;
  text-decoration: none;
  color: #201f1f;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  height: auto;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.imagem {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-hero {
  height: 80%;
  border-radius: 50%;
  background-color: #36ffb1;
  mix-blend-mode: multiply;
}

.down-btn {
  display: flex;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #201f1f;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.down-btn:hover {
  background-color: #36ffb1;
}

.fa-chevron-down {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-btn:hover > .fa-chevron-down {
  color: #201f1f;
}

.contacts-container {
  width: 50%;
  margin: 5% 0;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-icn {
  font-size: 4rem;
  color: antiquewhite;
  text-decoration: none;
}

.contact-icn:hover {
  color: #36ffb1;
}

/* .perfil {
  width: 25%;
}

.cont-perfil {
  height: 100px;
  width: 100px;
  background-color: antiquewhite;
  padding: 10px;
}
*/

.coluna-perfil {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  gap: 10px;
  margin-bottom: 25px;
  width: 100%;
}

/* Create four equal columns that floats next to each other */
.column {
  margin: 20px 0 20px 0;
  float: left;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.coluna-txt {
  flex-direction: column;
  width: 100%;
}

.row {
  margin: 8px -16px;
}

.txt-corrido {
  font-size: 20px;
  color: #201f1f;
  line-height: 1.5;
  padding: 10px 0;
}

.txt-bco {
  color: antiquewhite;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.polaroid {
  background-color: #faf5ef;
  padding: 10px;
  width: 25%;
  height: 50%;
  transform: rotate(-3deg);
  margin: 0 2%;
  object-fit: cover;
  box-sizing: border-box;
}

.txt-polaroid {
  padding: 0;
  color: #201f1f;
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.polaroid-icn {
  font-size: 1rem;
  color: #201f1f;
  text-decoration: none;
  text-align: center;
}

.polaroid-icn:hover {
  color: #36ffb1;
}

.dark-div-border {
  height: auto;
  background-color: #201f1f;
  border-radius: 10px;
  color: antiquewhite;
  padding: 3rem;
  margin: 5% 5% 0 5%;
  align-items: center;
}

.dark-div {
  height: auto;
  background-color: #201f1f;
  color: antiquewhite;
  padding: 5% 5% 20px 5%;
}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-div {
  background-color: antiquewhite;
  color: #201f1f;
  padding: 5%;
}

.hello {
  color: #201f1f;
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-size: 2rem;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-size: 3rem;
}

.txt-centro {
  text-align: center;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-size: 4rem;
}

.nome {
  color: #201f1f;
  text-transform: uppercase;
  font-size: 8rem;
  font-kerning: -2;
  font-family: "DM Serif Display", serif;
  font-style: italic;
  line-height: 5.5rem;
}

.nome-de {
  color: #201f1f;
  text-transform: lowercase;
  font-size: 4rem;
  font-family: "DM Serif Display", serif;
}

.firula {
  font: "Roboto Condensed";
  font-style: normal;
  font-size: 1.4rem;
  color: #201f1f;
  margin-top: 20px;
}

.firula-portfolio {
  font-size: 1.2rem;
}

.portfolio {
  justify-content: center;
}

.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item-portfolio {
  height: 300px;
  width: 450px;
  background-color: antiquewhite;
  object-fit: cover;
  object-position: 100% 1;
  border: 1px #201f1f solid;
  mix-blend-mode: multiply;
}

.item-portfolio:hover {
  mix-blend-mode: normal;
}

.subtitle {
  color: #201f1f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
}

.link-creditos {
  color: antiquewhite;
  font-weight: 400;
  text-decoration: none;
}

/* span styles */
.destaque-verde {
  background-color: #36ffb1;
  display: inline-block;
}

.destaque-bloco-pto {
  display: inline;
  background-color: #201f1f;
  color: antiquewhite;
}

.destaque-bloco-bco {
  display: inline;
  background-color: antiquewhite;
  color: #201f1f;
  font-weight: 400;
}

.serif-bold {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
}

/* cor da seleção */
::-moz-selection {
  /* Code for Firefox */
  color: #201f1f;
  background: #36ffb1;
  mix-blend-mode: multiply;
}

::selection {
  color: #201f1f;
  background: #36ffb1;
  mix-blend-mode: multiply;
}

.creditos {
  font-size: 0.8rem;
  bottom: 0;
  text-align: center;
}

@media (max-width: 786px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foto-hero {
    width: 80%;
    border-radius: 50%;
    margin: 5%;
  }

  .column {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
  }

  .nome {
    font-size: 4rem;
    font-kerning: -2;
    line-height: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .firula {
    font-size: 1.2rem;
  }

  .firula-portfolio {
    font-size: 1.2rem;
    display: none;
  }

  .portfolio-title {
    flex-direction: column;
  }

  .polaroid {
    width: 80%;
  }

  .item-portfolio {
    height: auto;
    width: 100%;
    align-items: center;
    mix-blend-mode: normal;
  }

  .contact-icn {
    font-size: 3rem;
  }

  .creditos {
    margin-top: 5px;
  }
}

@media (min-width: 786px) and (max-width: 1264px) {
  .hero {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .foto-hero {
    width: 100%;
    border-radius: 50%;
    margin: 5%;
  }

  .nome {
    font-size: 6rem;
    font-kerning: -2;
    line-height: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .polaroid {
    width: 65%;
  }

  .contact-icn {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  .contact-icn {
    font-size: 6rem;
  }
  .dark-div-border {
    padding: 90px;
  }

}
